{deps, [
{lager,".*",{git,"https://github.com/erlang-lager/lager","3.8.1"}},{jsx,".*",{git,"https://github.com/talentdeficit/jsx.git","v3.0.0"}},{google_oauth,".*",{git,"https://github.com/pankajsoni19/google_oauth_erlang.git","1.0.0"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,{parse_transform,lager_transform}]}.
